# 1. Python Output

In [ ]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [ ]:
print(7)

7

In [ ]:
print(7.7)

7.7

In [ ]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [ ]:
print('hello')
print('world')

hello
world

In [ ]:
print('hello',end='-')
#whenever there is the next string getting printed, the previous string will end with '-'
print('world')

hello-world

# 2. Data Types

In [ ]:
# in pytho, we have lists instead of arrays
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary
print({'name':'Nitish','gender':'Male','weight':70})

{'name': 'Nitish', 'gender': 'Male', 'weight': 70}

In [ ]:
# type
type([1,2,3])

list

# 3. Variables

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [ ]:
# C/C++
name = 'nitish'
print(name)

a = 5
b = 6

print(a + b)

nitish
11

In [ ]:
# Dynamic Typing
a = 5
# Static Typing
int a = 5

In [ ]:
# Dynamic Binding
a = 5
print(a)
a = 'nitish'
print(a)

# Static Binding
int a = 5

5
nitish

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [ ]:
a=b=c= 5
print(a,b,c)

5 5 5

# 4. Keywords & Identifiers

In [ ]:
# Keywords

In [ ]:
# Identifiers
# You can't start with a digit
name1 = 'Nitish'
print(name1)
# You can use special chars -> _
_ = 'ntiish'
print(_)
# identiers can not be keyword

Nitish
ntiish

# Temp Heading

# 5. User Input

In [ ]:
# Static Vs Dynamic
input('Enter Email')

Enter Emailnitish@gmail.com

'nitish@gmail.com'

In [ ]:
# take input from users and store them in a variable
'''
NOTE:- the input is always in the form of string. we convert it to int or float if required
for string to int conversion, we simply do int(string)
'''
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

enter first number56
enter second number67
123
<class 'int'>

# 6. Type Conversion

In [ ]:
# Explicit
# str -> int
int(4+5j)

# int to str
str(5)

# float
float(4)

4.0

# 7. Literals

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

In [ ]:
# binary
x = 3.14j
print(x.imag)

3.14

In [ ]:
'''
NOTE:-
string representation can be done in 2 ways:-
1. if string is to be in just a single line, then use single quotes
2. if string is to be in multiple lines, then use triple quotes or 3 double qoutes as done below
we dont have single double representation for the strings.
'''
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [ ]:
#true = 1 and false = 0
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10