# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [ ]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2) #converts the answer from the division into greatest integer function

print(5%2)

print(5**2)

11
-1
30
2.5
2
1
25

In [ ]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [ ]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [ ]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2)

print(5 << 2)

2
3
1
-4
1
20

In [ ]:
# Assignment Operators

# =
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

4

In [ ]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

'''
NOTE:-
the membership operators are very important for the for loops when you are iterating the items in a particular data structure like string, list, tuple, dictionary.
for eg:-
for item in (data structure):
'''

False
False

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number666
18

# If-else in Python

In [ ]:
# login program and indentation
# email -> nitish.campusx@gmail.com
# password -> 1234

email = input('enter email')
password = input('enter password')

if email == 'nitish.campusx@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'nitish.campusx@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

enter emailsrhreh
enter passworderhetjh
Not correct

# Modules in Python

- math
- keywords
- random
- datetime

In [ ]:
# math
import math

math.sqrt(196)

14.0

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))

88

# Loops in Python

- Need for loops
- While Loop
- For Loop

In [ ]:
# While loop example -> program to print the table
# Program -> Sum of all digits of a given number
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [ ]:
number = int(input('enter the number'))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)


'''
if you want to use the for loop for x number of iterations just like we did in while loop, we use "range" function.
for i in range (start, end):
'''

1
2
3
4
5

In [ ]:
# For loop examples

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
curr_pop = 10000

#the last number is the # of steps to be taken.
for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop - 0.1*curr_pop

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# code here

In [ ]:
# For loop vs While loops (When to use what?)

# Nested Loops

In [ ]:
# Examples

In [ ]:
# Program - Unique combination of 1,2,3,4
# Program - Pattern 1 and 2

### Pattern 1


*** <br>
**** <br>
***<br>

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
# Break demo

In [ ]:
# Break example (Linear Search) -> Prime number in a given range

In [ ]:
# Continue demo

In [ ]:
# Continue Example (Ecommerce)

In [ ]:
# Pass demo