### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
#EASY

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
def seper(s):
    s = s.replace('-',' ')
    l = s.split()
    l.sort()
    return l

string = 'green-red-yellow-black-white'

l = seper(string)
print(l)

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
#EASY

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
#EASY

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
def perfectno(n):
  l = []
  sum1=0

  for i in range(1,n+1):
    if n%i==0:
      l.append(i)
      sum1=sum1+i
  #print(l)
  #print(sum)
  if (sum1-n)==n and (sum1/2)==n:
    print("its a perfect number")
  else:
    print("its not a perfect number")

n = int(input("enter a number:"))
perfectno(n)

enter a number:6
its a perfect number

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here
d={}
def mer(dic):
  d.update(dic)

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

mer(dic1)
mer(dic2)
mer(dic3)
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here
#EASY, use the dictionary as a map

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here
#EASY, just calculate the euclidian distance of query point with each of the coordinate

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here
l1 = [1,2]
l2 = [3,4]
l3 = [5,6]
result = list(map(lambda x, y, z: x + y + z, l1, l2, l3))

print(result)
'''
in the lamba, all the variables are iterated altogether. hence, when the 3 lists are fed, all 3 of them are
iterated simulataneously and their values are added.
'''

[9, 12]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here
list1 = [1,2,3,4,5,6]
list(map(lambda x:x**(list1.index(x)),list1))
'''
when using just lambda, it gives us just a single output. but, say in case we want to update the whole
list, we use the map function too so that every index of the variable (here, list) gets updated
'''

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here
s = 'dev bhalodia'
list(filter(lambda x:x in ['a','e','i','o','u'] ,s.lower()))
'''
when using filter, we only get the values which are satisfying the condition and not those which aren't satisfying the condition.
'''

['e', 'a', 'o', 'i', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [ ]:
# Write code here
from functools import reduce
l = [[1,2,3],[4,5,6],[7,8,9]]
list(reduce(lambda x,y:x+y,l))
'''
we are simply flattening the list and hence, for that purpose, we are adding the lists for concatenation.
'''

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

In [ ]:
#another approach:-
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

l = []
for i in range (0,len(employees)):
    if employees[i]['grade'] == 'highly-skilled':
        s =employees[i]['fname'] + ' '+  employees[i]['lname']
        l.append(s)

print(l)

['Neha Singh', 'Abhinav Sharma']